p{font-type: Times; color:black;}
h1{font-type: courier;color:black;}
h2{font-type: Times; color: black;}
h3{font-type: Arial; color: black;}
figcaption{font-type: Arial; color: black;}
body{color: black; color: black;}
